.Business {
  display: flex;
  flex-direction: row;
  margin: 0 .5rem 2.3rem .5rem;
  background: #000;
  padding: 10px;
  width: 300px;
}

.Business .Search_Image{
  margin-bottom: 1rem;
  width: 100px;
  height: 100px;
}


.Business h2 {
  margin-bottom: .5rem;
  font-size: 1.3rem;
  font-weight: 600;

}

.Business h3 {
  font-weight: 300;
}

.category {
  margin-bottom: 10px;
}

.Business-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Business-information p {
  font-size: 1.2rem;
  font-weight: 300;
}

.Business-address {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}








