.SearchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 25rem;
}

.SearchBar-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.SearchBar-fields input {
  height: 1.5rem;
  width: 21rem;
  padding: .66rem 1rem;
  margin-left: 2.22rem;
  margin-right: 2.22rem;
  border: 3px solid rgb(255, 121, 121);
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
}

button {
  cursor: pointer;
  border-radius: 4px;
  padding: .3rem .5rem;
  background-color: rgb(255, 121, 121);
  color: #ffffff;
  font-size: 1rem;
  width: 100px; 
}

button a {
  border-radius: 4px;
  background-color: rgb(255, 121, 121);
  color: #ffffff;
  font-size: 1rem;
  transition: all .5s ease;
}

button a:hover {
  position: relative;
  top: -5px;
}


.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: rgb(255, 121, 121);
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: rgb(255, 121, 121);
}

.SearchBar-logos {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.SearchBar-logos h3 {
  font-size: 1.1rem;
}

.yelp_icon {
  max-width: 90px;
}

@media only screen and (max-width: 560px) {
  .SearchBar {
  }

  .SearchBar-sort-options ul {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .SearchBar-fields {
    flex-direction: column;
    align-items: center;
  }

  .SearchBar-fields input {
    margin-right: 0;
    margin-bottom: .86rem;
    max-width: 250px;
  }
}

