.Hero {
    position: relative;
    background: #000;
    }
    
.Hero_IMG {
    position: relative;
        left: 500px;
        width: 250px;
        height: 250px;
    }
    
.image-title {
    position: absolute;
    top: 50px;
    left: 25px;
        font-size: 3rem;
        color: white;
        text-decoration: none;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
        font-family: 'Fredericka the Great', cursive;
    }