.LiquorListItem {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  text-decoration: none;
  box-shadow: 0px 11px 21px -8px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 10px;
  font-weight: 600;
}

.LiquorListItem:hover {
  cursor: pointer;
}

.LiquorListItem,
.LiquorListItem:visited {
  color: #fff;
}



.LiquorListItem__details {
  padding: 40px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
}

.LiquorListItem__details h2 {
  margin: 0;
  font-weight: 600;
}

.LiquorListItem__details .LiquorStarRating {
  padding: 5px 0;
  text-align: center;
  opacity: 0.85;
}

.LiquorListItem__details span {
  display: block;
  text-align: center;
  opacity: 0.5;
}

.LiquorListItem__description {
font-size: 1.2rem;
}


