.Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 80px;
  color: #fff;
}

.Header a {
  color: #fff;
  text-decoration: none;
}

.Mobile_icon {
  height: 60px;
  width: 60px;
  margin: 0px, 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
}

.Mobile_icon:hover {
  background: rgb(255, 121, 121);
}

.Block_Link {
  height: 80px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Header__not-logged-in {
  position: fixed;
  top: 40px;
  right: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Header__not-logged-in a:last-child {
  background: rgb(255, 121, 121);
  color: white;
  padding: 5px 15px;
  border-radius: 15px;
  margin-left: 10px;
}

.Header__logged-in a {
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: rgb(255, 121, 121);
  padding: 5px 15px;
  border-radius: 15px;
}

.Header__logged-in{
position: fixed;
top: 40px;
right: 10px;
}

.main_logo {
  height: 80px;
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all .5s ease;
}

 
@media screen and (max-width: 1024px) {
  

  .Mobile_Header__logged-in{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
    }

    .Mobile_Header__not-logged-in {
     width: 100%;
     position: fixed;
     left: 0;
     bottom: 0px;
     display: flex;
     flex-direction: row;
     flex: 1;
     align-items: center;
     justify-content: space-evenly;
     background: #000;
    }

    .Header__logged-in{
      display: none;
      }
    .Header__not-logged-in {
        display: none;
       }
}

@media screen and (min-width: 1025px) {

.Mobile_Header__logged-in{
  display: none;
}

.Mobile_Header__not-logged-in {
 display: none;
}

}
@media screen and (min-width: 450px) {
  .Header {
    align-items: baseline;
  }

  .Header h1 {
    font-size: 22pt;
  }
  .Mobile_icon {
    height: 80px;
    width: 80px;
    margin: 0px, 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 490px) {
  

  .Mobile_Header__logged-in{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    background: #000;
    }

    .Mobile_Header__not-logged-in {
     width: 100%;
     position: fixed;
     left: 0;
     bottom: 0px;
     display: flex;
     flex-direction: row;
     flex: 1;
     align-items: center;
     justify-content: space-evenly;
     background: #000;
    }

    .Header__logged-in{
      display: none;
      }
    .Header__not-logged-in {
        display: none;
       }
}
